/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;
$phone-sm: 450px;

// Containers
$container-max-width: $desktop-lg;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #000000;
$white: #FFFFFF;
$dkblue: #293c49;
$ltgrey: #F2F2F2;

$yellow: #ECC356;
$black100: #091925;
$black200: #192732;
$black300: #293640;
$black400: #424F59;
$black500: #657079;
$black600: #A2A7AB;
$blackbg: #293640;

$link-transition-speed: .15s;
$trans: 0.2s linear;

// Typography
$sans: 'Roboto', sans-serif;
$heading: 'Arimo', sans-serif;
$condensed: 'Roboto Condensed', sans-serif;
$icomoon: 'Icomoon';

$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;
